/* --- Navbar --- */
.navbar {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  color: white;
  box-sizing: border-box; 
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #9872C7;
}

.nav-right {
  display: flex;
  align-items: center;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* --- Container a texty --- */
.container {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  height: calc(100vh - 60px);
  text-align: center;
  padding: 0 1rem;
}

.title {
  color: #CFBEE4;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.subtitle {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 2rem;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* --- Tlačítka --- */
.button-group {
  display: flex;
  gap: 1rem; 
  justify-content: center; 
  margin-top: 1rem;
}

.my-button {
  background-color: #684D89;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.my-button:hover {
  background-color: #9872C7;
}


.my-button2 {
  background-color: transparent;
  color: white;
  padding: 0.75rem 1.5rem;
  border: 2px solid #684D89;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.my-button2:hover {
  background-color: #9872C7;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* --- Responsivní Media Queries --- */
@media (max-width: 768px) {
  .title {
    font-size: 4.5rem;
  }
  .subtitle {
    font-size: 2.7rem;
  }
  .my-button {
    padding: 0.6rem 1.2rem;
  }
  .navbar ul {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .my-button {
    padding: 0.5rem 1rem;
  }
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

body {
background-image: url("/background.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
