.button-group {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.button {
  font-family: var(--font-montserrat);
  font-weight: 900;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: var(--transition-fast);
  color: var(--color-white);
  border: none;
}

.button.primary {
  background-color: var(--color-secondary);
}

.button.primary:hover {
  background-color: var(--color-primary);
}

.button.secondary {
  background: transparent;
  border: 3px solid var(--color-primary);
}

.button.secondary:hover {
  background-color: var(--color-secondary);
}
